// https://github.com/jonathonf/solbera-dnd-fonts/tree/master

@font-face {
  font-family: "Bookinsanity";
  src: url("../../assets/font/Bookinsanity.otf") format("opentype");
}

@font-face {
  font-family: "Bookinsanity";
  src: url("../../assets/font/Bookinsanity-Bold-Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("../../assets/font/Bookinsanity-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("../../assets/font/Bookinsanity-Italic.otf") format("opentype");
  font-style: italic;
}
