<div class="max-w-7xl mx-auto p-4">
  <app-toolbar/>
  <app-header/>
  <app-condition-effects/>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Hauptseite</p-tab>
      <p-tab value="1">Ausrüstung</p-tab>
      <p-tab value="2">Zaubern</p-tab>
      <p-tab value="3">Hintergrund</p-tab>
      <p-tab value="4">Notizen</p-tab>
    </p-tablist>
    <p-tabpanels>
      <!-- Page 1: Main Character Sheet -->
      <p-tabpanel value="0">
        @let editMode = isEditMode();
        <div class="grid grid-cols-12 grid-rows-[90px] auto-rows-auto gap-4 overflow-x-hidden">

          @if (!editMode) {
            <div [class.col-span-2]="isEditMode()">
              <app-condition-tracker/>
            </div>
          }
          <div class="col-span-6" [class.col-span-12]="isEditMode()">
            <app-ability-scores/>
          </div>
          <div [class.col-span-2]="isEditMode()">
            <app-proficiency/>
          </div>
          <div [class.col-span-2]="isEditMode()">
            <app-walking-speed/>
          </div>
          @if (!editMode) {
            <div>
              <app-initiative/>
            </div>
          }
          <div class="col-span-2">
            <app-armor-class/>
          </div>

          <div class="col-span-3 row-span-2">
            <app-saving-throws/>
          </div>
          <div class="col-span-3 row-span-6">
            <app-skills/>
          </div>
          <div class="col-span-6" [class.col-span-5]="isEditMode()">
            <app-health/>
          </div>
          <div class="col-span-6 row-span-3">
            <app-counters/>
          </div>

          <div class="col-span-3 row-span-3">
            <app-proficiencies-languages/>
          </div>

          <div class="col-span-12">
            <app-attacks/>
          </div>

          <div class="col-span-12">
            <app-features/>
          </div>

          <div class="col-span-12">
            <app-lifestyle-jump/>
          </div>

        </div>
      </p-tabpanel>

      <!-- Page 2: Equipment -->
      <p-tabpanel value="1">
        <div class="mt-4">
          <app-equipment/>
        </div>
      </p-tabpanel>

      <!-- Page 3: Spellcasting -->
      <p-tabpanel value="2">
        <div class="mt-4">
          <app-spellcasting/>
        </div>
      </p-tabpanel>

      <!-- Page 4: Appearance, Personality & Backstory -->
      <p-tabpanel value="3">
        <div class="mt-4 space-y-4">
          <app-appearance-backstory/>
          <app-personality/>
        </div>
      </p-tabpanel>

      <!-- Page 5: Notes -->
      <p-tabpanel value="4">
        <app-notes/>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
